{% extends "FSAEDesigner/base.html" %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block body %}
<div class="login-box">
    {% block logo %}
    <div class="login-logo">
        {# Mirrors block names used in _main_header.html #}
        <a href="{% block logo_href %}{% url 'FSAEDesigner:top' %}{% endblock %}">{% block logo_text %}FSAEDesigner{% endblock %}</a>
    </div>
    {% endblock %}
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                {% trans "メールアドレスを入力してください。再設定用のリンクが送信されます。" %}
            </p>
            {% block login_errors %}
            {% if form.errors and not form.non_field_errors %}
            {% trans "以下のエラーを修正してください" %}
            {% endif %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            {% endblock login_errors %}

            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="input-group mb-3">
                    {{ field }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% trans "パスワード再設定用URLを送信" %}
                        </button>
                        {% if messages %}
                        {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a href="{% url 'FSAEDesigner:login' %}">
                    {% trans "サインイン" %}
                </a>
            </p>
            <p class="mb-0">
                <a href="{% url 'FSAEDesigner:user_create' %}" class="text-center">
                    {% trans "新規登録" %}
                </a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
{% endblock %}
