{% extends "FSAEDesigner/base.html" %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block body %}
<div class="login-box">
    {% block logo %}
    <div class="login-logo">
        {# Mirrors block names used in _main_header.html #}
        <a href="{% block logo_href %}{% url 'FSAEDesigner:top' %}{% endblock %}">{% block logo_text %}FSAEDesigner{% endblock %}</a>
    </div>
    {% endblock %}
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                {% trans "パスワードの再設定を行ってください" %}
            </p>
            {% block login_errors %}
            {% if form.errors and not form.non_field_errors %}
            <p class="alert alert-danger">
                {% trans "以下のエラーを修正してください" %}
            </p>
            {% endif %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            {% endblock login_errors %}

            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="input-group mb-3">
                    {{ field }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% trans "パスワードを再設定" %}
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a href="{% url 'FSAEDesigner:login' %}">
                    {% trans "サインイン" %}
                </a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
{% endblock %}
